* {
    margin: 0px;
    padding: 0px;
    --primaryColor: #724bff;
    --menuColorHover: rgb(200, 185, 255);
    --secondaryColor: rgb(134, 100, 255);
    --borderColor: rgb(197, 197, 197);
}

header{
    background-color: var(--primaryColor);
    height: 50px;
    display: flex;
    align-items: center;
}

header a{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header a:hover{
    transition: 0.2s;
    color: var(--menuColorHover);
}

button{
    border: none;
    cursor: pointer;
}

.menu ul{
    list-style: none;
    display: flex;
    padding: 0px 20px;
}

.menu ul a{
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}

.menu ul a:hover{
    transition: 0.3s;
    color: var(--menuColorHover)
}
