@import url(components/main.css);
@import url(components/forms.css);
@import url(components/table.css);

/*----------------- Section -----------------*/
#section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*----------------- Title -----------------*/
#title {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondaryColor);
    padding-top: 20px;
    text-align: center;
}
/*----------------- Forms -----------------*/
form {
    margin-top: 20px;
}

form input {
    margin: 5px;
    padding: 5px;
    width: 100%;
}

/*----------------- Table -----------------*/

.table {
    margin-top: 20px;
}

#table_category, td, th {
    text-align: center;
    padding: 10px 30px;
}

/*----------------- Buttons -----------------*/

.btn_delete {
    padding: 0px 30px;
    background-color: white;
}

.btn_delete:hover {
    transition: 0.2s;
    color: red;
}

.btn_delete:active {
    transition: 0.1s;
    color: rgba(163, 0, 0, 0.603)
}
