.table {
    display: flex;
    justify-content: center;
}

.table th,
td {
    width: 100vw;
    text-align: center;
    border-inline-end: 1px solid rgb(172, 172, 172);
    border-bottom: 1px solid rgb(172, 172, 172);
    padding: 10px;
}